@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* globals.css */

.custom-scrollbar::-webkit-scrollbar {
  height: 7px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #4d4444;
}


/* globals.css */

@font-face {
  font-family: "MyFont";
  src: url("/fonts/RL_Droid.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyFont";
  src: url("/fonts/MyFont-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



/* Custom thin scrollbar like Ralph Lauren */
.custom-scroll::-webkit-scrollbar {
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.custom-scroll {
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent; /* Firefox */
  scrollbar-width: thin;
}

